{% include '/misc/header.html.twig'%}

<div class="container">
	<div class="col-md-offset-1 col-md-10">		
		{% for post in posts %}
			<article class="panel panel-default">
				<div class="panel-heading">
					<h2><a href="./article/{{post.getID}}">{{post.getTitle}}</a></h2>
					<h6 class="text-right"><strong>Publié</strong> par {{post.getAuthor()}} le {{post.getPublishDate()}}
					{% if post.getPublishDate != post.getModificationDate %}
						 <strong>Modifié</strong> le : {{post.getModificationDate}}
					{% endif %}</h6>
				</div>
				<div class="panel-body">
					<p>{{post.getContent|raw}}</p>
				</div>
				<div class="panel-footer">
					<p>Commentaires : <a href="./article/{{post.getID}}#commentaires">{{commCount[post.getID]}}</a> <br/>Accéder à 
					 <a href="./article/{{post.getID}}">l'article</a>
					</p>
				</div>
			</article>
		{% endfor %}		
	</div>
</div>

{% include '/misc/footer.html.twig'%}




