{% include '/misc/header.html.twig'%}

<article class="container">
	<div class="row col-md-offset-1 col-md-10 ">
			
		<h2 class="text-info">{{post.getTitle}}</h2>
		<p>{{post.getContent| raw}}</p>

	</div>
	<div class="row col-md-offset-2 col-md-6 ">

				<h3 class="text-info">Commentaires </h3>
		{% if comments is null %}
			<p>Aucun Commentaires Soyez le premier à commenter </p>
		{% else %}
			{% for comment in comments %} 

				{% if comment.getIdNextTo is null %}
				
						<div class="panel panel-default"><div class="panel-heading">
						<h4>commentaire de {{ comment.getAuthor }} </h4>
						</div>
						<div class="panel-body">
						<p>{{ comment.getContent}}</p>
						<input class="buttonChat btn btn-xs" type="button" name="respond" value="répondre">
						<form action="../article/comment" class="subForm form-group" method="POST" hidden>
							<h4 >réponse</h4>
							<input type="hidden" name="idPost" value="{{post.getID}}">
							<input type="hidden" name="idNextTo" value="{{comment.getId}}">
							<input type="hidden" name="route" value="{{route}}">
							Auteur :
							{{form.input("text","author") | raw}}
							Message :
							{{form.textarea("content")  | raw }}
							{{form.input("submit","submit") | raw}}
						</form>


						{% for subComment in comments %}
							<br/>

								{% if comment.getID == subComment.getIdNextTo %}
								<div class="panel panel-default"><div class="panel-heading">

									<h4>commentaire de {{ subComment.getAuthor }} </h4>
								</div><div class="panel-body">
									<p>{{ subComment.getContent}}</p>
									<input class="buttonChat btn btn-xs" type="button" name="respond" value="répondre">

									<form action="../article/comment" class="subForm form-group" method="POST" hidden>
										<h3>rédiger un commentaire</h3>
										<input type="hidden" name="idPost" value="{{post.getID}}">
										<input type="hidden" name="idNextTo" value="{{subComment.getId}}">
										<input type="hidden" name="route" value="{{route}}">

										Auteur :
										{{form.input("text","author") | raw}}
										Message :
										{{form.textarea("content")  | raw }}
										{{form.input("submit","submit") | raw}}
									</form>


											{% for subComment2 in comments %}
												<br/>
												{% if subComment.getID == subComment2.getIdNextTo %}
											    <div class="panel panel-default"><div class="panel-heading">

													<h4>commentaire de {{ subComment2.getAuthor }} </h4>
												</div><div class="panel-body">
													<p>{{ subComment2.getContent  }}</p>
												</div></div>
												{% endif %}
											
											{% endfor %}
								</div></div>			
								{% endif %}

							
						{% endfor %}
				</div></div>		
				{% endif %}	
			{% endfor %}
			
		{% endif %}


		<form action="../article/comment" class="form-group" method="POST">
			<h3>rédiger un commentaire</h3>
			<input type="hidden" name="idPost" value="{{post.getID}}">
			<input type="hidden" name="route" value="{{route}}">

			Auteur :
			{{form.input("text","author") | raw}}
			Message :
			{{form.textarea("content")  | raw }}
			{{form.input("submit","submit") | raw}}
		</form>

	</div>
</article>

{% include '/misc/footer.html.twig'%}


<script type="text/javascript">
		
		var test;
		test = document.body.querySelectorAll(".buttonChat");
		
		for (i=0; i< test.length;i++)
		{

		test[i].addEventListener("click", function(e){
				
				this.parentNode.querySelectorAll(".subForm")[0].removeAttribute("hidden");
		});
		
		}


</script>