{% include 'header.html.twig'%}

<article class="container">
	<div class="row col-md-offset-1 col-md-10">
			
		<h2>{{post.getTitle}}</h2>
		<p>{{post.getContent}}</p>
		<h3>Commentaires </h3>
		{% if comments is null %}
			<p>Aucun Commentaires Soyez le premier à commenter </p>
		{% else %}
			{% for comment in comments %}
				<p>commentaire de {{ comment.getAuthor }} </p>
				<p>{{ comment.getContent  }}</p>
			{% endfor %}
		{% endif %}
	</div>
	<div class="row">
		<form action="" class="form-group col-md-offset-2 col-md-6" method="POST">
			<h3>rédiger un commentaire</h3>
			<input type="hidden" name="idPost" value="{{post.getID}}">
			<label  for="author">Votre pseudonyme :</label>
			<input class="form-control" type="text" name="author">
			<label  for="content">Message :</label>
			<textarea class="form-control" rows="5"  name="content"></textarea>
			<br/>
			<input type="submit" class="btn btn-info" name="submit">
		</form>

	</div>
</article>

{% include 'footer.html.twig'%}